/*
  This is a reasonable starting point for the CSS in Mock.
  Positioning in CSS can sometimes be annoying to manage, so we've opted to 
  give you this starter CSS. Feel free to modify it as you wish, though.
*/

.Display {
  position: relative;
  min-height: 100vh;
}

.limit{
  margin-right: 400px;
}

.History {
  height: 55vh;
  margin: auto;
  display: block;
  overflow: scroll;
}

.Input {
  margin: auto auto 0;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  border: none;
  /* height: 50px;
  width: 20px;  */
}

.command-box {
  width: 500px;
  height: 70px;
  margin: auto;
  display: block;
}

button {
  margin: 5px;
  display: block;
  width: 200px;
  height: 55px;
  background-color: #543b1f;
  color: white;
  font-family: 'font';
  font-size: 20px;
}

@font-face {
  font-family: 'font';
  src: url('alata-regular.ttf') format('truetype');
}

body{
  padding: 0px;
  margin: 0px; 
}

/* Add the following styles for the Selector component */
.Selector {
  margin-top: 50px; 
}


.radio-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 20px; /* Adjust spacing between radio options */
}

.radio-label:before {
  content: '';
  display: inline-block;
  width: 20px; /* Adjust the width of the circle */
  height: 20px; /* Adjust the height of the circle */
  border: 2px solid #543b1f; /* Circle border color */
  border-radius: 50%; /* Make it a circle */
  margin-right: 5px;
  vertical-align: middle;
}

.calendar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 95%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  color: white;
}

#col1 {
  color: #543b1f;
}

#col2 {
  color: #543b1f;
}

#col3 {
  color: #543b1f;
}

th {
  background-color: #543b1f;
}

button {
  margin-left: 5px;
  cursor: pointer;
}

input[type="radio"]:checked + .radio-label:before {
  background-color: #543b1f; /* Color when selected */
}

label{
  font-family: 'font';
  color: #543b1f;
  margin-right: 40px;
  font-size: 20px;
}

.restriction{
  margin-top: 40px;
  margin-right: 490px;
}
